explains what python packages are used  like pandas and what persion of programs like what version of python or power bi.


pandas==2.3.3
python-dateutil==2.9.0.post0
numpy==2.3.4
pytz==2025.2
tzdata==2025.2
six==1.17.0

